* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(
    0deg,
    rgb(10, 29, 55) ; 0%,
    rgba(237, 245, 249, 1) 63%
  );
}

.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

.win-loss-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  background: radial-gradient(
    circle,
    rgb(255, 216, 204) 0%,
    rgb(255, 189, 155) 100%
  );
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  height: 2;
  max-width: 500px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

header {
  padding: 40px;
  text-align: center;
  background: rgb(10, 29, 55);
  color: rgb(255, 238, 219));
  border-bottom: 30px #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  padding: 8px;
  margin-top: 50px;
  background-color: rgb(255, 238, 219));
  border-radius: 8px;
}

.results {
  width: 30vw;
  height: 400px;
}

.card {
  background: radial-gradient(
    circle,
    rgb(255, 238, 219) 0%,
    rgb(255, 189, 155) 100%
  );
  border: 1px solid rgb(255, 238, 219);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0, rgb(10, 29, 55) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
}

.large-font {
  font-size: 3.5em;
  text-align: center;
  padding: 5px;
  color:rgb(255, 238, 219)
}
.questions {
  font-size: 3.5em;
  text-align: center;
  flex: display;
  flex-direction: column;
  justify-content: space-between;
  color:rgb(255, 238, 219);
}
.multipleChoice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  background-color: rgb(10, 29, 55);
}

.timer {
  height: 240px;
  padding: 10px;
  background: rgb(10, 29, 55);
  color: rgb(255, 238, 219);
  text-align: center;
}

.timer-text {
  padding: 55px;
}
li {
  list-style-type: none;
}

.submit {
  font-weight: 400;
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  background-color: rgba(19, 41, 61, 1);
  height: fit-content;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  section {
    background-color: rgb (255, 238, 219);
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
  }

  .timer {
    height: 200px;
  }
  main {
    flex-direction: column;
  }

  section {
    background-color: rgb(255, 238, 219);
    margin: 20px auto;
    width: 92vw;
  }
}
